

button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.calc-prices-button {
    color: white;
    font-style: oblique;
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 15px 15px;
    border-radius: 10px;
    border: white;

}

.new-item-create {
  color: white;
  font-style: oblique;
  background-color: gray;
  border-color: gray;
  padding: 15px 15px;
  border-radius: 10px;
  border: white;

}

.delete-button {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
    border-radius: 5px;
}


.product-wrap {
display: flex;
justify-content: space-between;
margin-bottom: 5px;
}

.container {
margin: 0 auto;
width: 80%;
}

#scoreContainer {
  background-color: rgb(46, 45, 45);
}


.store-brand {
    text-align: center;
    margin: auto;
  }


#total {
  text-align: center;
  margin-top: 100px;
}

h2 {
  
  display: inline-block;
  
}

.calc-prices-button{

  display: inline-block;
}




